<?xml version='1.0' encoding='UTF-8' ?>
<suite name="Talent 2.0 Automation" parallel="methods" thread-count="15">
<listeners>
    <listener class-name="com.spire.base.reporter.SpireReport"/>
     <listener class-name="com.spire.base.controller.TestRetryListener"/> 
    <listener class-name="com.spire.base.reporter.SpireEmailReport"/>
</listeners>
	
	<parameter name="env" value ="staging"/>
	<parameter name="client" value ="IDFC"/>
	   <!--  <parameter name="healthCheck" value="false"/>	 -->
        <test name="Test Cases for service groups">
		<groups>
			<run>
				<include name="sanity"/>
				
			</run>
		</groups>
		<packages>
			 
			<package name="com.spire.tests" />
		</packages>
	</test>
</suite>               
        
   
